<!DOCTYPE html>
<html>
<head>
    <title>Colibri i.MX6ULL</title>
    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon"  type="image/x-icon" href="../assets/favicon.ico">
    <style>

        .logo {
            width: 229px; 
            height: auto; 
            display: block;
            margin: 0 auto 10px;
            clear: both;
        }
        .body_title{
            text-align: center;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <img class="logo" src="../assets/logo_small.png" alt="Logo">
    <h1 class="body_title">Colibri i.MX6ULL: Current</h1>
    <div>
        <canvas id="currentChart"></canvas>
    </div>
    <script src="../assets/powerChart.js"></script>
</body>
</html>

